<div class="listings-container">
  <div class="row search-panel">
      <div class="col-md-2">
        <span class="muted">Price Range</span>
      </div>
      <div class="col-md-10">
        <div id="price-range"></div>
        <div id="price-min"></div><div id="price-max"></div>
      </div>
  </div>
  <div class="row">


    <div class="listings-items">

    </div>
  </div>
</div>
