// Place all the styles related to the Api::listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.summary h1 {
  font-family: Herculanum, Opal, Cylinder;
}

/* Show */
div.cover-img-wrap {

  div.cover-img {
    background-color: teal;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 500px;
  }
}
div.photo-list-item-wrap {
  padding: 2px;

  div.photo-list-item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 66%;
    background-color: #3F7A8A;
  }
}

body h4 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.details {

  .about {
    margin: 30px 0 80px 0;
  }

  .detail-section {
    margin-bottom: 10px;
    /* padding: 10px 0px; */

  }

  .listing-photos {
    margin-top: 30px;
    padding: 0 15px;
  }

}


/* Search */
.search-input-wrap {
  position: relative;
}
.ui-autocomplete {
  position: absolute;
  width: 100%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 0;

  .ui-menu-item {
    list-style: none;
    padding: 10px;
    .active {
      background: blue;
    }
  }
  .ui-state-focus {
    background: #e8e8ea;
  }
}


#map-canvas {
  height:100%;
}

.search-interface {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 60%;
  overflow-y: scroll;
}
.search-map {
  position: absolute;
  top: 50px;
  left: 60%;
  bottom: 0;
  width: 40%;
  background: #336699;
}

.listings-container {
  padding: 20px;
  display: block;

  .search-panel {
    #price-min, #price-max {
      height: 14px;
      padding: 0 10px;
    }
    #price-min {
      float: left;
    }
    #price-max {
      float: right;
    }
  }
}




.listings-items {

}

.listing-item {

  margin-bottom: 10px;

  .img-viewport {
    width:100%;
    padding-bottom: 67%;
    position: relative;
    overflow: hidden;
  }
  .img-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
  }
  .img-inner {
    right: -50%;
    position: relative;
    display: inline-block;
    height: 100%;
  }
  img {
    position: relative;
    height: 100%;
    width: auto;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    left: -50%;
  }
  .item-price {
    position: absolute;
    left: 0;
    bottom: 30px;
    background: rgba(60, 63, 64, 0.851961);
    font-size: 24px;
    color: white;
    padding: 5px;
    .yuan {
      font-size: 13px;
    }
  }

  .item-info-panel{
    padding: 10px;
    h3 {
      font-size: 16px;
      margin: 0;
    }
  }
}

div.search-panel {
  padding-bottom: 10px;
  border-bottom: 1px solid #dce0e0;
  margin-bottom: 15px;
  margin-left: -20px;
  margin-right: -20px;
}


/* slider */
#price-range {
  background-color: #eee;
  height: 0.6em;
  margin: 5px 10px;

  .ui-slider-range {
    background-color: #ff5a5f;
  }
  .ui-slider-handle {
    background: #fff;
    border: 1px solid #ddd;
    border-radius:3px;
    outline: none;
    cursor: pointer;
  }
}
