// Place all the styles related to the Api::listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Show */
div.cover-img {
  background: teal;
  width: 100%;
  display: block;
  height: 300px;
}

body h4 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.details {

  .about {
    margin: 30px 0 80px 0;
  }

  .detail-section {
    margin-bottom: 10px;
    /* padding: 10px 0px; */
  }

  .listing-photos {
    margin-top: 30px;
    padding: 0 15px;
    div {
      padding: 1.5px;
    }
  }

}

span.muted {
  color: #82888a;
}

/* Search */

#map-canvas {
  height:100%;
}

.search-interface {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 60%;
  /* height:100%; */
  overflow-y: scroll;
  /* background: #5588bb; */
}
.search-map {
  position: absolute;
  top: 50px;
  left: 60%;
  bottom: 0;
  width: 40%;
  background: #336699;
}

.listings-container {
  padding: 20px;
  display: block;

  .search-panel {
    #price-min {
      float: left;
    }
    #price-max {
      float: right;
    }
  }
}




.listings-items {

}

.listing-item {

  margin-bottom: 10px;

  .img-viewport {
    width:100%;
    padding-bottom: 67%;
    position: relative;
    overflow: hidden;
  }
  .img-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
  }
  .img-inner {
    right: -50%;
    position: relative;
    display: inline-block;
    height: 100%;
    background: #336699;
  }
  img {
    position: relative;
    height: 100%;
    width: auto;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    left: -50%;
  }
  .item-price {
    position: absolute;
    left: 0;
    bottom: 30px;
    background: rgba(60, 63, 64, 0.851961);
    font-size: 24px;
    color: white;
    padding: 5px;
    .yuan {
      font-size: 13px;
    }
  }

  .item-info-panel{
    padding: 10px;
    h3 {
      font-size: 16px;
      margin: 0;
    }
  }
}

/* slider */
.ui-slider-range {
  background-color: #ff5a5f;
}
