// Place all the styles related to the Api::listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.summary {
  padding-bottom: 20px;
  h1 {
    // font-family: Herculanum, Opal, Cylinder;
  }
}

/* Show */
div.cover-img-wrap {
  height: 500px;
  position: relative;

  div.cover-img {
    // background-color: teal;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 500px;
    position: absolute;
    opacity: 0;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}

div.cycle-left, div.cycle-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  color: white;
  cursor: pointer;
  opacity: 0;

  transition: all .1s ease;
  -moz-transition: all .1s ease;
  -webkit-transition: all .1s ease;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    opacity: 1;
  }
  span {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 36px;
    text-shadow: 1px 1px 2px #222;
  }
}

$rightgrad: rgba(0,0,0,0.3);
$leftgrad: transparent;

div.cycle-left {
  left: 0;
  span {
    left: 10px;
  }
  &:hover {
    background: -webkit-gradient(linear, 0 0, 100% 100%, from($rightgrad), $leftgrad);
    background: -webkit-linear-gradient(left, $rightgrad, $leftgrad );
    background: -moz-linear-gradient(left, $rightgrad, $leftgrad  );
    background: -o-linear-gradient(left, $rightgrad, $leftgrad  );
    background: -ms-linear-gradient(left, $rightgrad, $leftgrad );
    background: linear-gradient(to right, $rightgrad, $leftgrad );
  }
}
div.cycle-right {
  right: 0;
  span {
    right: 10px;
  }
  &:hover {
    background: -webkit-gradient(linear, 0 0, 100% 100%, from($leftgrad), $rightgrad);
    background: -webkit-linear-gradient(left, $leftgrad, $rightgrad );
    background: -moz-linear-gradient(left, $leftgrad, $rightgrad  );
    background: -o-linear-gradient(left, $leftgrad, $rightgrad  );
    background: -ms-linear-gradient(left, $leftgrad, $rightgrad );
    background: linear-gradient(to right, $leftgrad, $rightgrad );
  }
}

div.photo-list-item-wrap {
  padding: 2px;

  div.photo-list-item {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 66%;
    background-color: #3F7A8A;
  }
}

body h4 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.details {

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;

  .about {
    margin: 30px 0 80px 0;
  }

  .detail-section {
    margin-bottom: 10px;
  }

  .listing-photos {
    margin: 50px 0;
    padding: 0 15px;
  }

}


/* Search */
.search-input-wrap {
  position: relative;
}
.ui-autocomplete {
  position: absolute;
  width: 100%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 0;

  .ui-menu-item {
    list-style: none;
    padding: 10px;
    .active {
      background: blue;
    }
  }
  .ui-state-focus {
    background: #e8e8ea;
  }
}


#map-canvas {
  height:100%;
}

.search-interface {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 60%;
  overflow-y: scroll;
  background-color: #f5f5f5;
}
.search-map {
  position: absolute;
  top: 50px;
  left: 60%;
  bottom: 0;
  width: 40%;
  background: #123158;
}

.listings-container {
  display: block;

  .search-panel {
    border-bottom: 1px solid #dce0e0;
    padding: 10px 15px;
    margin: 0;
    background-color: white;

    .panel-section {
      padding: 15px;
      position: relative;

      .col-md-2 {
        line-height: 24px;
      }

      &:last-child:before {
        content: "";
        position: absolute;
        top: 0px;
        height: 10px;
        width: auto;
        left: 35px;
        display: block;
        right: 35px;
        border-top: 1px solid #dce0e0;
        border-color: rgba(220, 224, 224, 0.5);
      }
    }

    .col-sm-4 {
      padding: 0 5px;
    }

    input, select {
      width: 100%;
      padding: 8px 8px;
      border: 1px solid #ccc;
      border-radius: 2px;
      font-size: 14px;
      height: 38px;
    }
    input:focus, select:focus {
      border: thin solid #aaa;
      outline: none;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      background-color: white;
      line-height: 1;
    }

    #price-min, #price-max {
      height: 14px;
      padding: 0 10px;
    }
    #price-min {
      float: left;
    }
    #price-max {
      float: right;
    }
  }
}




.listings-items {
  padding: 15px 10px;
  background-color: #f5f5f5;
}

.listing-item {
  white-space: nowrap;
  margin-bottom: 10px;

  a, a:hover, a:focus {
    text-decoration: none;
  }
  .img-viewport {
    width:100%;
    padding-bottom: 67%;
    position: relative;

    .carousel-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
  }
  .item-price {
    position: absolute;
    left: 0;
    bottom: 30px;
    background: rgba(60, 63, 64, 0.851961);
    font-size: 24px;
    color: white;
    padding: 5px;
    .yuan {
      font-size: 13px;
    }
  }

  .item-info-panel{
    padding: 10px;
    h3 {
      font-size: 16px;
      margin: 0;
    }
  }
}

.reviews {
  padding-bottom: 100px;
}

/* custom markers */

.listing-marker {
  position: absolute;
  cursor: pointer;
  background-color: #ff5a5f;
  color: white;
  font-size: 14px;
  padding: 4px 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #D25156;
  line-height: 1;
  font-family: Opal, Cylinder, "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: nowrap;

  .tail, .tail-border {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 6px 0 6px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .tail {
    border-color: #ff5a5f transparent transparent transparent;
    bottom: -14px;
  }
  .tail-border {
    border-color: #D25156 transparent transparent transparent;
    bottom: -17px;
  }

  &.active {
    background-color: #007a87;
    border-color: #004f58;
    z-index: 1000;
    .tail {
      border-color: #007a87 transparent transparent transparent;
    }
    .tail-border {
      border-color: #004f58 transparent transparent transparent;
    }
  }
}

/* slider */
.price-slider-wrap {
  margin-right: 10%;

  #price-range {
    background-color: #eee;
    height: 0.3em;
    margin: 10px;

    .ui-slider-range {
      background-color: #ff5a5f;
    }
    .ui-slider-handle {
      background: #fff;
      border: 1px solid #bbb;
      border-radius:50%;
      width: 25px;
      height: 25px;
      margin-top: -7px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      outline: none;
      cursor: pointer;
    }
  }
}
