<div class="reservation-header clearfix">
  <div class="pricing">
    <%= listing.get('price') %> <span class="yuan">yuan</span>
  </div>

  <div class="pricing-unit">
    Per Night
  </div>
</div>
<div class="reservation-panel">

  <div class="row">
    <div class="col-xs-4">
      <label for="checkin">
        Check In
      </label>
      <input
        id="checkin"
        type="text"
        class="datepicker"
        name="reservation[start_date]"
        value=""
        placeholder="mm/dd/yyyy"
      >
    </div>
    <div class="col-xs-4">
      <label for="checkout">
        Check Out
      </label>
      <input
        id="checkout"
        type="text"
        class="datepicker"
        name="reservation[end_date]"
        value=""
        placeholder="mm/dd/yyyy"
      >
    </div>
    <div class="col-xs-4">
      <label for="guestcount">
        Guests
      </label>
      <select name="reservation[guests]" id="guestcount">
        <% _.times(listing.get('capacity') || 0, function (n) { %>
          <option><%= n+1 %></option>
        <% }); %>
      </select>
    </div>
  </div>

  <button
    class="request-reservation btn btn-primary btn-large btn-block"
    <% if(reservation.id) { %>
      disabled
    <% } %>
  >
  <% if(reservation.id) { %>
    Booking Requested!
  <% } else { %>
    Request to Book
  <% } %>
  </button>
</div>
