<div class="bbm-modal__section">
  <h3>Tab based example</h3>
  <p>It's also really easy to create a modal, with seperate views that you can control using tabs.</p>
  <p>We're also using a default style, but you can overwrite anything you want.</p>

  blah blah
</div>
