<div class="bbm-modal__topbar">
  <ul>
    <li class="bbm-modal__tab"><a href="#" id="login-tab" class="active">General</a></li>
    <li class="bbm-modal__tab"><a href="#" id="signin-tab">Account</a></li>
  </ul>
</div>

<div class="my-container"></div>

<div class="bbm-modal__bottombar">
  <a href="#" class="bbm-button">Done</a>
</div>
