<div class="bbm-modal__section">
  <h1>Sign Up</h1>
  <form class="signup-form">
    <input type="text" name="user[name]" placeholder="Name">
    <input type="text" name="user[email]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <button class="btn btn-primary btn-large btn-block signup-button">Create Account</button>
  </form>
  <div class="or-line">
    <hr>
    <h6>or</h6>
  </div>
  <button class="btn btn-primary btn-large btn-block guest-login">Guest Login</button>
</div>

<div class="session-errors">
  <ul></ul>
</div>
