/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Cylinder';
  src: font-url('Cylinder.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opal';
  src: font-url('Opal.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opal';
  src: font-url('OpalBold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Herculanum';
  src: font-url('Herculanum.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: font-url('Campton-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Opal, Cylinder, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #565a5c; /* #5e6264; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
 text-rendering: optimizelegibility;
 font-family: Opal, Cylinder, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  border-color: #ddd;
  margin: 15px 0;
}

nav.navbar {
  z-index: 1000;
  margin-bottom: 0px;
  padding: 0 20px;
  background: #fff;
  border-bottom: 1px solid #dce0e0;

  .navbar-brand, .navbar-brand:hover {
    // color: #ff5a5f;
    font-weight: bold;
    font-family: Campton, Opal, Cylinder, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px 0;
    // color: #004f58;
    // font-style: italic;
    // color: #7FBBC2;
    // color: #007a87;

    span {
      // font-style: none;
      // color: #007a87;
      // color: #ff5a5f;
    }
  }

  #search input {
    width: 240px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;

    &:focus {
      border: thin solid #aaa;
      outline: none;
    }
  }
  .navbar-collapse.collapse.in{
    margin: 0;
    border: none;
    border-bottom: 1px solid #dce0e0;
    background: white;
  }
}


span.muted {
  color: #82888a;
}
