// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-header {
  height: 600px;
  position: relative;
  padding: 20px;

  .video-container {
  	position: absolute;
  	top:0%;
  	left:0%;
  	height:100%;
  	width:100%;
  	overflow: hidden;
    z-index: 0;

    video {
    	position:absolute;
    	width: 100%;
      height: auto;
      z-index: 0;
    }

    @media (max-width: 1089px) {
      #welcome-video {
        height:100%;
        width: auto
      }
    }
  }

  .tag-line {
    display: block;
    position: relative;
    top: 35%;
    h1 {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      color: white;
      font-size: 60px;
    }
  }

  .home-search {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 0;
    left: 0;
    right: 0;
    bottom: 0;

    ul.search-inputs-list {
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        float: left;
        margin: 0;
        padding: 0;
      }
    }

    form {
      display: table;
      margin: 0 auto;
      height: 44px;
      font-size: 16px;

      input, select {
        /* float: left; */
        height: 100%;
        padding: 10px 8px;
        border: 1px solid #ccc;
        margin: 0;
        height: 44px;
      }
      input:focus, select:focus {
        border: thin solid #aaa;
        outline: none;
      }
      #checkin, #checkout {
        width: 130px;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        width: 90px;
        border-radius: 0;
        line-height:1;
      }

      button {
        /* float: left; */
        height: 44px;
        width: 100px;
        background-color: #ff5a5f;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-right-top-radius: 3px;
        border-right-bottom-radius: 3px;
        border: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
      }
      button:hover {
        background-color: rgb(255, 126, 130);
      }
      .home-search-input-wrap {
        position: relative;
      }
      .search-input {
        width: 220px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }
}

.page-container {
  width: 945px;
  padding: 25px;
  padding: 15px 25px 200px 25px;
  margin: 0 auto;
}

.dark-body {
  background-color: rgb(237, 239, 237);

  .container {
    padding-bottom: 60px;
  }

  h2 {
    text-align: center;
    font-weight: bold;
  }

  .discover-item {
    width:100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;

    h2 {
      color: white;
      font-size: 32px;
      line-height: 300px;
    }
  }
}

nav.navbar.welcome-style {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: none;
  outline: none;
  color: white !important;
  border-color: rgba(0, 0, 0, 0);

  a, li a {
    color: white;
  }
  li.dropdown.open {
    > a {
      background: none;
    }
    .dropdown-menu li a{
      color: #5e6264;
    }
  }

  #search {
    display: none;
  }
}
